<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fifa23</title>
    <link rel="icon" href="../imagens/fifa23.jpg">
    <link rel="stylesheet" href="../Styles/Fifa23.css">
</head>

<body>
    <div id="Nombrepagina">
        <h1><a href="file:///C:/Users/User/OneDrive/Escritorio/Proyecto%20Final/Views/inicio.html">VideoGames</a></h1>
    </div>

    <div id="Nombrejuego">
        <h5>Fifa23</h5>
    </div>

    <div id="imgFifa23">
        <img  src="../imagens/fifa23.jpg" alt="TheLastofUsPartII">
    </div>
    
    <section id="Contenedor">
        <h1 id="actualizacion">Actualización</h1>
            <div id="contenido">
            <div>
                <p class="TiempoNum" id="days">0</p>
                <span class="tiempo">Dias</span>
            </div>
            <div>
                <p class="TiempoNum" id="hours">0</p>
                <span class="tiempo">Horas</span>
            </div>
            <div>
                <p class="TiempoNum" id="minutes">0</p>
                <span class="tiempo">Minutos</span>
            </div>
            <div>
                <p class="TiempoNum" id="seconds">0</p>
                <span class="tiempo">Segundos</span>
            </div>
        </div>
    </section>

    <div id="ContenidoFifa23">
        <marquee behavior="" direction=""></marquee>
        <h1 id="PalabraTrofeos">Trofeos</h1>
        <br>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoPlatino.png" alt="TrofeoPlatino">
        <p class="Informaciontrofeos">
            ⚽ <b class="SubTrofeo">Coleccionista de buenas valoraciones:</b> Desbloquea todos los demás trofeos (excluyendo los trofeos de
            contenido adicional).
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoOro.png" alt="TrofeOro">
        <p class="Informaciontrofeos">
            ⚽ <b class="SubTrofeo">Fondo de armario:</b> Desbloquea 50 artículos estéticos distintos.
            <br>
            ⚽ <b class="SubTrofeo">Ser supremo:</b> Juega 200 partidos con un jugador de tu club en FIFA Ultimate Team.
            <br>
            ⚽ <b class="SubTrofeo">Leyenda europea:</b> Gana la final de la UEFA Champions League.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoPlata.png" alt="TrofeoPlata">
        <p class="Informaciontrofeos">
            ⚽ <b class="SubTrofeo">Camino a la cima:</b> Llega al nivel 7 en una temporada en VOLTA FOOTBALL o Clubes Pro.
            <br>
            ⚽ <b class="SubTrofeo">Compartir es vivir:</b> Compra un artículo que se pueda compartir en la Tienda VOLTA.
            <br>
            ⚽ <b class="SubTrofeo">Especialista en creación de plantillas:</b> Completa 10 desafíos de creación de plantillas en FIFA Ultimate
            Team.
            <br>
            ⚽ <b class="SubTrofeo">Compinches:</b> Gana 10 partidos cooperativos con amigos online en Squad Battles o Division Rivals de FUT.
            <br>
            ⚽ <b class="SubTrofeo">Logro trascendental:</b> Consigue 100 estrellas en Momentos de FUT.
            <br>
            ⚽ <b class="SubTrofeo">Lo he jugado todo:</b> Alcanza el hito 3 en una temporada de Division Rivals de FUT.
            <br>
            ⚽ <b class="SubTrofeo">Que empiecen los partidos:</b> Consigue puntos de clasificación de campeones para entrar en Eliminatorias
            de campeones en FUT.
            <br>
            ⚽ <b class="SubTrofeo">Consigue la nota:</b> Saca una A en un juego de habilidad de Clubes Pro.
            <br>
            ⚽ <b class="SubTrofeo">Personalidad deslumbrante:</b> Haz que un rasgo de personalidad sea más de un 75 % dominante.
            <br>
            ⚽ <b class="SubTrofeo">Trayectoria equilibrada:</b> Alcanza un 40 % de puntos de personalidad en dos personalidades de tu elección.
            <br>
            ⚽ <b class="SubTrofeo">Poder femenino:</b> Gana un torneo con un equipo de la Liga Femenina.
            <br>
            ⚽ <b class="SubTrofeo">Notas altas:</b> Consigue una valoración A en una negociación de un traspaso.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoBronce.png" alt="TrofeoBronce">
        <p class="Informaciontrofeos">
            ⚽ <b class="SubTrofeo">Lo mejor de Volta:</b> Consigue 90 de GRL con tu avatar en VOLTA FOOTBALL.
            <br>
            ⚽ <b class="SubTrofeo">El trabajo en equipo funciona:</b> Gana un partido de EQUIPOS DE VOLTA con 3 amigos.
            <br>
            ⚽ <b class="SubTrofeo">Nuevo aspecto:</b> Cambia un artículo en la pestaña «Atuendos».
            <br>
            ⚽ <b class="SubTrofeo">Date un capricho:</b> Compra un artículo en la Tienda VOLTA.
            <br>
            ⚽ <b class="SubTrofeo">Especialista a balón parado:</b> Marca un gol de tiro libre.
            <br>
            ⚽ <b class="SubTrofeo">Intuición y ejecución:</b> Gana una tanda de penaltis sin fallar ninguno.
            <br>
            ⚽ <b class="SubTrofeo">Adicción al entrenamiento:</b> Completa todos los juegos de habilidad del menú principal.
            <br>
            ⚽ <b class="SubTrofeo">Pepinazo:</b> Marca un gol usando la mecánica de zapatazo.
            <br>
            ⚽ <b class="SubTrofeo">Vamos allá:</b> Juega/gana un partido en cualquier modo Offline con los ajustes competitivos activados.
            <br>
            ⚽ <b class="SubTrofeo">La fórmula ganadora:</b> Crea una plantilla con 33 puntos de química en FIFA Ultimate Team.
            <br>
            ⚽ <b class="SubTrofeo">Creación de tácticas:</b> Crea una táctica personalizada en FIFA Ultimate Team.
            <br>
            ⚽ <b class="SubTrofeo">Refugio:</b> Juega un partido utilizando cualquier regla alternativa en los amistosos de FUT.
            <br>
            ⚽ <b class="SubTrofeo">Levantando el muro:</b>Levantando el muro: Mantén la portería a cero en 10 partidos de Squad Battles de FUT.
            <br>
            ⚽ <b class="SubTrofeo">Un momento especial:</b> Completa un Momento de FUT.
            <br>
            ⚽ <b class="SubTrofeo">Ajusta tu club:</b> Juega al menos un partido con 3 canciones de gol diferentes en FIFA Ultimate Team.
            <br>
            ⚽ <b class="SubTrofeo">Casi injugable:</b> Desbloquea todos los rasgos de un árbol de habilidades en Clubes Pro.
            <br>
            ⚽ <b class="SubTrofeo">El primero de muchos:</b> Completa y gana tu primer partido de liga en Temporadas de Clubes Pro.
            <br>
            ⚽ <b class="SubTrofeo">Lleno absoluto:</b> Juega y completa un partido de copa con reglas alternativas en Clubes Pro.
            <br>
            ⚽ <b class="SubTrofeo">Especialista:</b> Desbloquea un arquetipo en Clubes Pro.
            <br>
            ⚽ <b class="SubTrofeo">Multitarea:</b> Completa 10 o más actividades en una temporada.
            <br>
            ⚽ <b class="SubTrofeo">Realista:</b> Completa una temporada con un entrenador real y su equipo original.
            <br>
            ⚽ <b class="SubTrofeo">Apuntando alto:</b> Completa 10 objetivos potenciados entre todos los partidos.
            <br>
            ⚽ <b class="SubTrofeo">Al mejor de cinco:</b> Juega 5 partidos Cara a cara contra otra persona en Partido rápido.
            <br>
            ⚽ <b class="SubTrofeo">El fútbol lo es todo:</b> Juega un partido de fútbol femenino internacional.
        </p>
    </div>
    <script src="../Scripsts/cuentaFifa.js"></script>
</body>
</html>