<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>God of War: Ragnarok </title>
    <link rel="icon" href="../imagens/raganarok.png">
    <link rel="stylesheet" href="../Styles/Godofwar.css">
    <link rel="stylesheet" href="../Styles/Inicio.css">
</head>

<body>
    <div id="Nombrepagina">
        <h1><a href="../Views/inicio.html">VideoGames</a></h1>
    </div>

    <div id="Nombrejuego">
        <h5>God of War: Ragnarok</h5>
    </div>

    <div id="imgRagnarok">
        <img src="../imagens/raganarok.png" alt="TheLastofUsPartII">
    </div>

    <section id="Contenedor">
        <h1 id="actualizacion">Actualización</h1>
        <div id="contenido">
            <div>
                <p class="TiempoNum" id="days">0</p>
                <span class="tiempo">Dias</span>
            </div>
            <div>
                <p class="TiempoNum" id="hours">0</p>
                <span class="tiempo">Horas</span>
            </div>
            <div>
                <p class="TiempoNum" id="minutes">0</p>
                <span class="tiempo">Minutos</span>
            </div>
            <div>
                <p class="TiempoNum" id="seconds">0</p>
                <span class="tiempo">Segundos</span>
            </div>
        </div>
    </section>

    <div id="ContenidoGodofWar">
        <marquee behavior="" direction=""></marquee>
        <h1 id="PalabraTrofeos">Trofeos</h1>
        <br>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoPlatino.png" alt="TrofeoPlatino">
        <p class="Informaciontrofeos">
            ⚔️ <b class="SubTrofeo">El oso y el lobo:</b> Consigue todos los trofeos.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoOro.png" alt="TrofeOro">
        <p class="Informaciontrofeos">
            ⚔️ <b class="SubTrofeo">A punto para comprometerse:</b> Mejora por completo un conjunto de armadura.
            <br>
            ⚔️ <b class="SubTrofeo">Ragnarok:</b> Combate contra el Padre Supremo.
            <br>
            ⚔️ <b class="SubTrofeo">Grave Error:</b> Combate contra el Rey Hrólf.
            <br>
            ⚔️ <b class="SubTrofeo">La auténtica reina:</b> Lucha contra Gná.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoPlata.png" alt="TrofeoPlata">
        <p class="Informaciontrofeos">
            ⚔️ <b class="SubTrofeo">Funeral por un amigo:</b> Asiste a un funeral.
            <br>
            ⚔️ <b class="SubTrofeo">Especie invasora:</b> Completa todas las cacerías del cráter.
            <br>
            ⚔️ <b class="SubTrofeo">El lugar correcto:</b> Devuelve todos los Lindwyrms a Ratatöskr.
            Team.
            <br>
            ⚔️ <b class="SubTrofeo">Pureza de corazón:</b> Devuelve los ciervos de las cuatro estaciones.
            <br>
            ⚔️ <b class="SubTrofeo">Coleguillas:</b> Acaricia a Speki y a Svanna.
            <br>
            ⚔️ <b class="SubTrofeo">Puebas de fuego:</b> Completa las pruebas de Muspelheim.
            <br>
            ⚔️ <b class="SubTrofeo">Fue un buen día:</b> Recupera a Mardöll.
            <br>
            ⚔️ <b class="SubTrofeo">Tripa llena:</b> Obtén todas las Manzanas de Idunn y los cuernos de hidromiel.
            <br>
            ⚔️ <b class="SubTrofeo">Arreglando las cosas:</b> Libera al lyngbakr.
            <br>
            ⚔️ <b class="SubTrofeo">Hafgufa doble:</b> Libera a los hafgufas.
            <br>
            ⚔️ <b class="SubTrofeo">Falange:</b> Obtén todos los escudos.
            <br>
            ⚔️ <b class="SubTrofeo">Coleccionista:</b> Obtén todas las reliquias y empuñadoras de la espada.
            <br>
            ⚔️ <b class="SubTrofeo">Matadragones:</b> Fabrica el conjunto de armadura de escamas de dragón.
            <br>
            ⚔️ <b class="SubTrofeo">Cómo va:</b> Repara por completo el amuleto de Yggdrasil.
            <br>
            ⚔️ <b class="SubTrofeo">A la espartana:</b> Recuerda las enseñanzas espartanas.

        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoBronce.png" alt="TrofeoBronce">
        <p class="Informaciontrofeos">
            ⚔️ <b class="SubTrofeo">Ratón de biblioteca:</b> Consigue todos los libros.
            <br>
            ⚔️ <b class="SubTrofeo">Florista:</b> Recoge una flor de cada uno de los Nueve Reinos.
            <br>
            ⚔️ <b class="SubTrofeo">Coleccionista de antiguedades:</b> Recoge todos los hallazgos.
            <br>
            ⚔️ <b class="SubTrofeo">Cómo empezó:</b> Equipa un encantamiento.
            <br>
            ⚔️ <b class="SubTrofeo">Impoluto:</b> Mejora una pieza de la armadura.
            <br>
            ⚔️ <b class="SubTrofeo">Recuperando la forma:</b> Compra una habilidad.
            <br>
            ⚔️ <b class="SubTrofeo">Un encuentro osado:</b> Combate contra un oso.
            <br>
            ⚔️ <b class="SubTrofeo">Deuda de sangre:</b> Combate contra el dios del trueno.
            <br>
            ⚔️ <b class="SubTrofeo">Líder rebelde:</b> Devuelve el martillo a la rebelión.
            <br>
            ⚔️ <b class="SubTrofeo">Nuevos amigos:</b> Consigue el orbe de Lúnda.
            <br>
            ⚔️ <b class="SubTrofeo">Bronca en el Jardín:</b> Combate contra la valquiria misteriosa.
            <br>
            ⚔️ <b class="SubTrofeo">La raíz del problema:</b> Combate contra Niohogg.
            <br>
            ⚔️ <b class="SubTrofeo">El caldero</b> Destruye el caldero de Grýla.
            <br>
            ⚔️ <b class="SubTrofeo">Sin correa:</b> Combate contra Garm.
            <br>
            ⚔️ <b class="SubTrofeo">Su merecido:</b> Combate contra Heimdall.
            <br>
            ⚔️ <b class="SubTrofeo">Mejor juntos:</b> Combate contra Hrist y Mist.
            <br>
        </p>
    </div>
    <script src="../Scripsts/cuentaGod.js"></script>
</body>

</html>