<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../Styles/Inicio.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoGames</title>
    <link rel="icon" href="../imagens/Iconoprioyec.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>


    <!--<button onclick="location.href='https://www.facebook.com'" id="BotsesionReg">Registrate</button>
    <button onclick="location.href='https://www.facebook.com'" id="BotsesionIni">Inicia Sesion</button>
    <br>
    <br>-->

    <div id="Nombrepagina">
        <h1>VideoGames</h1>
    </div>

    <nav>
        <div class="btn-nav">
            <a href="../Views/Fifa23.html"><button id="Fifa23">Fifa 23</button></a>
        </div>
        <div class="btn-nav">
            <a href="../Views/Godofwar.html"><button id="GodofWar">God of War: Ragnarok</button></a>
        </div>
        <div class="btn-nav">
            <a href="../Views/TheLastofUs.html"><button id="TheLastofUs">The Last of Us Part II</button></a>
        </div>
        <div class="btn-nav">
            <a href="../Views/ResidentEvil.html"><button id="ResidentEvil">Resident Evil Village</button></a>
        </div>
    </nav>

    <br>
    <br>

    <div id="Subtitulquienessomos">
        <h4>¿Quienes Somos y Nuestro Objetivo?</h4>
    </div>
    <p id="Parrafoquienes">
        Nos hacemos conocer por ser una comunidad la cual tiene un enfoque en los videojuegos y en sus procesos tanto
        dentro como fuera de este esto haciendo énfasis tanto en su desarrollo, sus noticias de lanzamientos y
        actualizaciones.
        Además tenemos como objetivo permitir y cautivar nuevas promesas para el mundo de los videojuegos tanto como
        desarrolladores de videojuegos, como creadores de contenido y jugadores profesionales, esto con el objetivo de
        expandir nuevos horizontes y a la vez la captura de nuevos talentos los cuales puedan continuar y expandir este
        mundo tan amplio como el de los videojuegos.
    </p>
    <br>
    <div id="preguntajuegos">
        <h4>¿Que son los videojuegos?</h4>
    </div>
    <a href="../Views/Juegoinicio.html" id="Juegoinicio">
        Compruebalo por tu mismo
    </a>
    <br>
</body>

</html>