<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Evil Village</title>
    <link rel="stylesheet" href="../Styles/ResidentEvil.css">
    <link rel="icon" href="../imagens/Residentevil.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Oriya:wght@400;500&family=Press+Start+2P&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <div id="Nombrepagina">
        <h1><a id="LinkNomPagina" href="../Views/inicio.html">VideoGames</a></h1>
    </div>

    <div id="Nombrejuego">
        <h5>Resident Evil Village</h5>
    </div>

    <div id="imgResident">
        <img src="../imagens/Residentevil.jpg" alt="TheLastofUsPartII">
    </div>
    <br>
    <br>

    <section id="Contenedor">
        <h1 id="actualizacion">Actualización</h1>
        <div id="contenido">
            <div>
                <p class="TiempoNum" id="days">0</p>
                <span class="tiempo">Dias</span>
            </div>
            <div>
                <p class="TiempoNum" id="hours">0</p>
                <span class="tiempo">Horas</span>
            </div>
            <div>
                <p class="TiempoNum" id="minutes">0</p>
                <span class="tiempo">Minutos</span>
            </div>
            <div>
                <p class="TiempoNum" id="seconds">0</p>
                <span class="tiempo">Segundos</span>
            </div>
        </div>
    </section>

    <div id="ContenidoResidentEvil">
        <marquee behavior="" direction=""></marquee>
        <h1 id="PalabraTrofeos">Trofeos</h1>
        <br>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoPlatino.png" alt="TrofeoPlatino">
        <p class="Informaciontrofeos">
            🐺 <b class="SubTrofeo">Ethan Winters:</b> Obtén todos los trofeos.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoOro.png" alt="TrofeOro">
        <p class="Informaciontrofeos">
            🐺 <b class="SubTrofeo">Padre de padres:</b> Termina la historia en dificultad Aldea de sombras.
            <br>
            🐺 <b class="SubTrofeo">Aceite de serpiente:</b> Termina la historia usando cuatro o menos objetos
            curativos.
            <br>
            🐺 <b class="SubTrofeo">A cuchillo:</b> Sin incluir algunos jefes, termina la historia usando solo armas de
            contacto.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoPlata.png" alt="TrofeoPlata">
        <p class="Informaciontrofeos">
            🐺 <b class="SubTrofeo">Padre del año:</b> Termina la historia en dificultad Hardcore o superior.
            <br>
            🐺 <b class="SubTrofeo">Padre con prisas:</b> Termina la historia en tres horas.
            <br>
            🐺 <b class="SubTrofeo">Padre frugal:</b> Termina la historia sin gastar más de 10.000 Lei.
            <br>
            🐺 <b class="SubTrofeo">Surrealista:</b> Consigue al menos el rango S en todos los niveles de Mercenarios.
            <br>
            🐺<b class="SubTrofeo">Colección de muñecas:</b> Ve todos los modelos de personajes y armas.
            <br>
            🐺 <b class="SubTrofeo">Coleccionista de arte:</b> Ve todos los diseños..
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoBronce.png" alt="TrofeoBronce">
        <p class="Informaciontrofeos">
            🐺 <b class="SubTrofeo">Asedio:</b> Sobrevive al ataque de los lycans.
            <br>
            🐺 <b class="SubTrofeo">Cuatro jerarcas:</b> Escapa de la mina.
            <br>
            🐺 <b class="SubTrofeo">Un poco agria:</b> Derrota a la mutación de Dimitrescu.
            <br>
            🐺 <b class="SubTrofeo">Vínculos rotos:</b> Derrota a Donna y a Angie.
            <br>
            🐺 <b class="SubTrofeo">Pescado fresco:</b> Derrota a la mutación de Moreau.
            <br>
            🐺 <b class="SubTrofeo">Medidas temporales:</b> Coloca el cáliz del gigante en el foro de ceremonias.
            <br>
            🐺 <b class="SubTrofeo">Chatarra:</b> Derrota a la mutación de Heisenberg.
            <br>
            🐺 <b class="SubTrofeo">La raíz del mal:</b> Encuentra la megamiceta en las ruinas subterráneas.
            <br>
            🐺 <b class="SubTrofeo">Buen padre:</b> Termina la historia en dificultad fácil o superior.
            <br>
            🐺 <b class="SubTrofeo">Padre ejemplar:</b> Termina la historia en dificultad normal o superior.
            <br>
            🐺 <b class="SubTrofeo">Manualidades:</b> Crea un objeto en el menú de creación de objetos.
            <br>
            🐺 <b class="SubTrofeo">Cuatro jerarcas:</b> Escapa de la mina.
            <br>
            🐺 <b class="SubTrofeo">Patrón:</b> Compra algo en el Emporio del Duque durante la historia.
            <br>
            🐺 <b class="SubTrofeo">Reparaciones:</b> Combina un tesoro hasta alcanzar su forma final.
            <br>
            🐺 <b class="SubTrofeo">De caza:</b> Caza un animal durante la historia.
            <br>
            🐺 <b class="SubTrofeo">Que ruede la bola:</b> Resuelve un laberinto.
            <br>
            🐺 <b class="SubTrofeo">Gooool:</b> Mueve la pelota desde la habitación de los Winters hasta el estudio.
            <br>
            🐺 <b class="SubTrofeo">Tiro al cuervo:</b> Dispara y derriba a cinco cuervos en el aire durante la
            historia.
            <br>
            🐺 <b class="SubTrofeo">Cuando hay prisas:</b> Abre todas las puertas de retrete en la aldea en una partida.
            <br>
            🐺 <b class="SubTrofeo">Vandalismo:</b> Rompe cada ventana frágil del castillo Dimitrescu en una partida.
            <br>
            🐺 <b class="SubTrofeo">Defecto de fábrica:</b> Dispara y derriba a uno de los Soldat de la cadena de
            montaje en la fábrica.
            <br>
            🐺 <b class="SubTrofeo">Distancia social:</b> Empuja a un enemigo después de bloquear durante la historia.
            <br>
            🐺 <b class="SubTrofeo">Buena vista:</b> Derrota a un enemigo con un rifle de francotirador durante la
            historia.
            <br>
            🐺 <b class="SubTrofeo">Estratega:</b> Derrota al menos a tres enemigos con un solo ataque durante la
            historia.
            <br>
            🐺 <b class="SubTrofeo">Churrasco:</b> Prende fuego a una Moroaică durante la historia.
            <br>
            🐺 <b class="SubTrofeo">Buenos reflejos:</b> Desvía una flecha de fuego con cualquier arma de contacto
            durante la historia.
            <br>
            🐺 <b class="SubTrofeo">Ha caído el líder:</b> Derrota al Vârcolac Alfa en la historia.
            <br>
            🐺 <b class="SubTrofeo">¿Eso es todo?:</b> Derrota a Uriaș durante el primer ataque de lycans en la aldea
            <br>
            🐺 <b class="SubTrofeo">Fotógrafo:</b> Usa el modo foto.
            <br>
            🐺 <b class="SubTrofeo">7 de la suerte:</b> Consigue 777 Lei, 7.777 Lei, o 77.777 Lei durante la historia.
            <br>
            🐺 <b class="SubTrofeo">Cartógrafo:</b> Completa el mapa de la aldea.
            <br>
            🐺 <b class="SubTrofeo">¡Qué ironía!:</b> Destruye una cabra protectora.
            <br>
            🐺 <b class="SubTrofeo">Maldición:</b> Destruye todas las cabras protectoras.
            <br>
            🐺 <b class="SubTrofeo">De armas tomar:</b> Equipa un arma con una mejora.
            <br>
            🐺 <b class="SubTrofeo">Hasta los dientes:</b> Equipa cada arma con todas sus mejoras durante la historia.
            <br>
            🐺 <b class="SubTrofeo">Manitas:</b> Crea todos los tipos de objeto en el menú de creación de objetos.
            <br>
            🐺 <b class="SubTrofeo">Artesanal:</b> Obtén todos los diagramas y recetas.
            <br>
            🐺 <b class="SubTrofeo">Ratón de biblioteca:</b> Lee todas las notas y documentos de la historia.
            <br>
            🐺 <b class="SubTrofeo">Esto es un no parar:</b> Consigue un combo de 30 en Mercenarios.
        </p>
    </div>
    <script src="../Scripsts/cuentaResident.js"></script>
</body>