<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Last of Us Part II</title>
    <link rel="stylesheet" href="../Styles/TheLastofUs.css">
    <link rel="icon" href="../imagens/Thelastofus.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap" rel="stylesheet">
</head>

<body>
    <div id="NombrepaginaT">
        <h1><a id="LinkNomPagina" href="../Views/inicio.html">VideoGames</a></h1>
    </div>

    <div id="Nombrejuego">
        <h5>The Last of Us Part II</h5>
    </div>

    <div id="imgTheLastofUs">
        <img src="../imagens/Thelastofus.jpg" alt="TheLastofUsPartII">
    </div>

    <section id="Contenedor">
        <h1 id="actualizacion">Actualización</h1>
        <div id="contenido">
            <div>
                <p class="TiempoNum" id="days">0</p>
                <span class="tiempo">Dias</span>
            </div>
            <div>
                <p class="TiempoNum" id="hours">0</p>
                <span class="tiempo">Horas</span>
            </div>
            <div>
                <p class="TiempoNum" id="minutes">0</p>
                <span class="tiempo">Minutos</span>
            </div>
            <div>
                <p class="TiempoNum" id="seconds">0</p>
                <span class="tiempo">Segundos</span>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <div id="ContenidoTheLastofUs">
        <marquee behavior="" direction=""></marquee>
        <h1 id="PalabraTrofeos">Trofeos</h1>
        <br>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoPlatino.png" alt="TrofeoPlatino">
        <p class="Informaciontrofeos">
            🧟‍♂️ <b class="SubTrofeo">Todos y cada uno:</b> Consigue todos los trofeos.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoOro.png" alt="TrofeOro">
        <p class="Informaciontrofeos">
            🧟‍♂️ <b class="SubTrofeo">Hice lo que debía:</b> Completa la historia.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Especialista en supervivencia:</b> Aprende todas las mejoras del jugador.
            <br>
            🧟‍♂️ <b class="SubTrofeo">As de las armas:</b> Mejora totalmente todas las armas.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Archivista:</b> Encuentra todos los artefactos y las entradas de diario.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Baraja maestra:</b> Encuentra todas las cartas coleccionables
            <br>
            🧟‍♂️ <b class="SubTrofeo">Numismática:</b> Encuentra todas las monedas.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Todo preparado :</b> Encuentra todas las mesas de trabajo.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoPlata.png" alt="TrofeoPlata">
        <p class="Informaciontrofeos">
            🧟‍♂️ <b class="SubTrofeo">A tope:</b> Mejora un arma al máximo.
            <br>
            🧟‍♂️ <b class="SubTrofeo"> Especialista:</b> Aprende todas las mejoras de jugador de una rama.
            <br>
            🧟‍♂️ <b class="SubTrofeo">La caja de papel:</b> Abre todas las cajas fuertes.
            <br>
            🧟‍♂️ <b class="SubTrofeo">De ruta por Seattle:</b> Visita todas las ubicaciones del centro de Seattle.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Manualmente:</b> Encuentra todos los manuales de entrenamiento.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Entrenamiento de supervivencia:</b> Aprende 25 mejoras de jugador.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Gran calibre:</b> Encuentra todas las armas.
            <br>
            🧟‍♂️ <b class="SubTrofeo">En el campo:</b> Encuentra 12 mesas de trabajo.
        </p>
        <img class="ImagenesTrofeos" src="../imagens/imgtrofeoBronce.png" alt="TrofeoBronce">
        <p class="Informaciontrofeos">
            🧟‍♂️ <b class="SubTrofeo">Bricomaníaca:</b> Fabrica todos los objetos.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Manitas:</b> Mejora un arma.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Aprendiz:</b> Aprende una mejora de jugador.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Baraja de principiante:</b> Encuentra 5 cartas coleccionables.
            <br>
            🧟‍♂️ <b class="SubTrofeo">En perfecto estado:</b> Encuentra 5 monedas.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Pero el sombrero es nuevo:</b> Ponle un sombrero a tu compañero.
            <br>
            🧟‍♂️ <b class="SubTrofeo">En el blanco:</b> Gana la competición de tiro.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Pon mi nombre ahí arriba:</b> Consigue la puntuación más alta en el juego de tiro
            con arco.
            <br>
            🧟‍♂️ <b class="SubTrofeo">Reliquia de los sabios:</b> Encuentra el artefacto extraño.
            <br>
            🧟‍♂️ <b class="SubTrofeo"> La grandeza nace de pequeños comienzos:</b> Encuentra el anillo grabado.
            <br>
        </p>
    </div>
    <script src="../Scripsts/cuentathelastofus.js"></script>
</body>

</html>