body {
    background-color: #ffcd95;
}

#NombrepaginaF {
    translate: -4px;
    text-align: center;
    font: 60 60px 'Pacifico';
    letter-spacing: -5px;
    text-shadow: 0 0px 10px, 0 0 1em black, 0 0 0.5em black, 0 0 0.1em #560a86, 0 10px 3px #333;
    font-family: 'Press Start 2P', cursive;
}

#LinkNomPagina {
    color: #8a98d2;
    text-decoration: none;
}

#Nombrejuego {
    translate: -4px;
    text-align: center;
    font: 60 60px 'Pacifico';
    color: #dfc200;
    text-shadow: 0 0px 10px, 0 0 1em #560a86, 0 0 0.5em #560a86, 0 0 0.1em #560a86, 0 10px 3px #333;
    letter-spacing: 3px;
    font-family: 'Bungee', cursive;
    font-size: 60px;
}

#imgFifa23 {
    text-align: center;
    padding: 20px;
}

#ContenidoFifa23 {
    height: auto;
    border-style: solid;
    border-color: #087bca;
    padding: 40px;
}

#PalabraTrofeos {
    text-align: center;
    color: #087bca;
    text-shadow: 0 0px 10px, 0 0 1em #560a86, 0 0 0.5em white, 0 0 0.1em #560a86, 0 10px 3px white;
    font-size: 60px;
    font-family: 'Bungee', cursive;
}

.ImagenesTrofeos {
    margin: auto;
    height: auto;
    width: 50vh;
    vertical-align: middle;
}

.Informaciontrofeos {
    color: #08b233;
    font-weight: normal;
    text-align: left;
    font-size: 23px;
    line-height: 50px;
}

.SubTrofeo {
    color: #ff64ae;
    background-color: none;
}

#Contenedor {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contenido {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}

#contenido div {
    display: grid;
    place-items: center;
    padding: 10px;
}

#actualizacion {
    text-align: center;
    color: #dfc200;
    text-shadow: 0 0px 10px, 0 0 1em #560a86, 0 0 0.5em #560a86, 0 0 0.1em #560a86, 0 10px 3px #333;
    font-size: 40px;
    padding: 30px 10px;
}

.TiempoNum {
    display: grid;
    place-items: center;
    border: solid 5px #7623A1;
    box-shadow: inset 0 0 5px #087bca, 0 0 5px #087bca;
    height: 100px;
    width: 100px;
    color: #087bca;
}

.tiempo {
    display: block;
    padding: 10px;
    text-align: center;
    text-shadow: 0 0px 10px, 0 0 1em #560a86, 0 0 0.5em #560a86, 0 0 0.1em #560a86, 0 10px 3px #333;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}