body {
    background-color: #ccc39f;
}

#NombrepaginaT {
    translate: -4px;
    text-align: center;
    font: 60 60px 'Pacifico';
    letter-spacing: -5px;
    color: #fee;
    text-shadow: 0 0px 10px, 0 0 1em wheat, 0 0 0.5em black, 0 0 0.1em black, 0 10px 3px #333;
    font-family: 'Press Start 2P', cursive;
}

#LinkNomPagina {
    color: #285635;
    text-decoration: none;
}

#Nombrejuego {
    translate: -4px;
    text-align: center;
    font: 60 60px 'Pacifico';
    color: #576e49;
    text-shadow: 0 0px 10px, 0 0 1em white, 0 0 0.5em #fee, 0 0 0.1em #fee, 0 10px 3px #222;
    letter-spacing: 3px;
    font-family: 'Rubik Distressed', cursive;
    font-size: 60px;
}

#imgTheLastofUs {
    text-align: center;
    padding: 25px;
}

#ContenidoTheLastofUs {
    height: auto;
    border-style: solid;
    border-color: #4EA351;
    padding: 40px;
    margin-top: -280px;
}

#PalabraTrofeos {
    text-align: center;
    color: #576e49;
    text-shadow: 0 0px 10px, 0 0 1em #560a86, 0 0 0.5em white, 0 0 0.1em #560a86, 0 10px 3px;
    font-size: 60px;
    margin-top: 15px;
    font-family: 'Rubik Distressed', cursive;
}

.ImagenesTrofeos {
    margin: auto;
    height: auto;
    width: 50vh;
    vertical-align: middle;
}

.Informaciontrofeos {
    color: #576e49;
    font-weight: normal;
    text-align: left;
    font-size: 23px;
    line-height: 50px;
}

.SubTrofeo {
    color: #869572;
    background-color: none;
}

#Contenedor {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contenido {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}

#contenido div {
    display: grid;
    place-items: center;
    padding: 10px;
}

#actualizacion {
    text-align: center;
    color: #ccc39f;
    text-shadow: 0 0px 10px, 0 0 1em #560a86, 0 0 0.5em black, 0 0 0.1em #560a86, 0 10px 3px #333;
    font-size: 40px;
    padding: 30px 10px;
    margin-top: -350px;
}

.TiempoNum {
    display: grid;
    place-items: center;
    border: solid 5px #869572;
    box-shadow: inset 0 0 10px #7623A1, 0 0 10px #7623A1;
    height: 100px;
    width: 100px;
    color: #285635;
}

.tiempo {
    display: block;
    padding: 10px;
    text-align: center;
    text-shadow: 0 0px 10px, 0 0 1em #560a86, 0 0 0.5em #560a86, 0 0 0.1em #560a86, 0 10px 3px #333;
    color: #d8dabc;
    font-size: 1.5rem;
    font-weight: 400;
}